.Users {
  padding: 20px;
}

.user-title{
    text-align: center;
}

.user-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.user-item {
  padding: 15px;
  background-color: #e8f4f8;
  border-radius: 5px;
  text-align: left;
  width: 25vw;
}

.user-item h3 {
  margin: 0 0 10px 0;
  color: #333;
}

.user-item p {
  margin: 5px 0;
  color: #555;
}

.loading,
.error {
  font-size: 18px;
  color: #555;
  margin-top: 20px;
}

.error {
  color: red;
}
