.App {
    text-align: center;
    margin-top: 50px;
  }
  
  .input-container {
    margin-bottom: 20px;
  }
  
  input {
    padding: 10px;
    font-size: 16px;
    width: 200px;
  }
  
  button {
    padding: 10px 15px;
    font-size: 16px;
    margin-left: 10px;
  }
  
  .task-list {
    list-style-type: none;
    padding: 0;
  }
  
  .task-list li {
    padding: 10px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    margin-bottom: 10px;
  }
  
  .task-list li span.completed {
    text-decoration: line-through;
    color: grey;
  }
  
  .task-list button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .task-list button:hover {
    background-color: darkred;
  }